:root {
  --main-background: hsl(233, 47%, 7%);
  --card-background: hsl(244, 38%, 16%);
  --accent: hsl(277, 64%, 61%);
  --main-heading-stats: hsl(0, 0%, 100%);
  --main-p: hsla(0, 0%, 100%, 0.75);
  --stats-heading: hsla(0, 0%, 100%, 0.6);
}

body {
  font-family: "Lexend Deca", sans-serif;
  font-family: "Red Hat Display", sans-serif;
  background-color: var(--main-background);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}

/* Small */

@media (min-width: 768px) {
  .container {
    width: 375px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1440px;
  }
}
/* End Global Rules */
.container {
  display: flex;
  background-color: var(--card-background);
  border-radius: 10px;
  overflow: hidden;
}
@media (max-width: 768px) {
  .container {
    flex-direction: column-reverse;
  }
}
.box {
  flex-basis: 50%;
}

.text {
  margin-bottom: 50px;
  padding: 50px 77px;
}
@media (max-width: 768px) {
  .text {
    text-align: center;
    padding: 0;
  }
}
h1 {
  font-size: 45px;
  color: var(--main-heading-stats);
}
@media (max-width: 768px) {
  h1 {
    font-size: 30px;
  }
}
h1 span {
  color: var(--accent);
}
p {
  font-size: 16px;
  color: var(--main-p);
  line-height: 1.6;
  width: 400px;
}
@media (max-width: 768px) {
  p {
    width: 100%;
  }
}
.img {
  flex-basis: 50%;
  position: relative;
  z-index: 1;
}
img {
  height: 100%;
  width: 100%;
}
.img::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: hsl(277deg 96% 51% / 51%);
}
.stats {
  display: flex;
  justify-content: space-evenly;
}
@media (max-width: 768px) {
  .stats {
    text-align: center;
    flex-direction: column;
  }
  .info {
    padding: 10px;
  }
}
h2 {
  color: var(--main-heading-stats);
  font-size: 30px;
  margin: 5px 0px;
}

span {
  color: var(--stats-heading);
}
